@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    transition: all .5s ease-in-out;
}

html {
    font-family: 'Poppins';
}
body {
    background-color: #21272B;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
}

