@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    transition: all .5s ease-in-out;
}

html {
    font-family: 'Poppins';
}
body {
    background: #21272B;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
}

body::before,
body::after {
    content: "";
    background-repeat: no-repeat;
    background-size: 10rem;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    filter: drop-shadow(0 0 2em #80c0d2aa);
}

body::before {
    background-image: url(../../images/webpack.png);
    background-position: left -4rem center;
}

body::after {
    background-image: url(../../images/React.png);
    background-position: right -5rem center;
}


