
title {
    content: 'Online Experiences';
}

.page {
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    display: flex;
    padding: 20px 40px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.navlogo {
    content: url('../img/airbnb-logo.png');
    height: 30px;
}

.hero {
    width: 100%;
    height: fit-content;
    padding: 20px
}

.hero-grid {
    content: url('../img/photo-grid.png');
    width: 90vw;
    padding: 20px 50px 20px 50px
}

.hero-content {
    width: 60vw;
}

h1 {
    font-weight: 500;
    font-size: 5vw;
}

p {
    font-weight: 300;
    font-size: 3vw;
}

.image {
    content: url('../img/image1.png')
}